@media only screen and (max-width: 1150px) {

	.reset_wrapp {
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media only screen and (max-width: 1060px) {

	/*-- Section 1 - Basket --*/

	.good_table {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.good_table .col:nth-child(1) {
	    width: 110px;
	}

	.good_table .col:nth-child(2) {
	    width: calc(100% - 110px);
	}

	.good_table .col:nth-child(3) {	    
	    width: 260px;
	    order: 4;	    
	}

	.good_table .col:nth-child(4) {
	    width: calc(100% - 260px);
	    padding-left: 114px;
	    order: 3;
	}

	/*-- /Section 1 - Basket --*/

}


@media only screen and (max-width: 900px) {

	/*-- Section 1 - Private 3 --*/

	.order_item {
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	}

	.order_item .col:nth-child(1) {
	    width: 100%;
	}

	.order_item .col:nth-child(1) p {
		display: inline-block;
		vertical-align: top;
		padding-right: 25px;
	}

	.order_item .col:nth-child(2) {
	    width: 60%;
	}

	.order_item .col:nth-child(3) {
	    width: 40%;
	    display: flex;
	    display: -webkit-flex;
	    justify-content: flex-end;
	    -webkit-justify-content: flex-end;
	}

	.pagination_sect .col:nth-child(2) {
	    width: calc(100% - 217px);
	    display: flex;
	    display: -webkit-flex;
	    justify-content: flex-end;
	    -webkit-justify-content: flex-end;
	}

	.order_item .close_btn {
	    top: 5px;
	}

	/*-- /Section 1 - Private 3 --*/

}

@media only screen and (max-width: 850px) {

	/*-- Section 1 - Basket --*/

	.good_table .col:nth-child(4) {
	    padding-left: 5px;
	}

	/*-- /Section 1 - Basket --*/

}

@media only screen and (max-width: 767px) {

	body {
	    background: #ffffff;
	}

	/*-- Section 1 - Basket --*/

	.basket_templ {
		display: block;
	}

	.basket_templ .left_col {
	    width: 100%;
	    padding-right: 0;
	    padding-left: 0;
	}

	.basket_templ .right_col {
	    width: 100%;
	    padding: 10px 0;
	}

	.tab_novisible {
		display: none;
	}

	.basket_btn_wrapp_resp {
		display: block;
		padding: 10px 0;
	}

	/*-- /Section 1 - Basket --*/

	/*-- Section 1 - Private 3 --*/

	.tabs_wrapp {
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	}

	.orders_table {
	    margin: 20px 0 0 0;
	    border-bottom: none
	}

	.order_item {
	    border-top: none;
	    border-bottom: none;
	    margin-bottom: 10px;
	}

	.order_item:last-child {
	    margin-bottom: 0;
	}

	/*-- /Section 1 - Private 3 --*/

	/*-- Section 1 - Private 4 --*/

	.personal_account_content_2 {
	    margin: 5px 0;
	}

	.personal_account_content_2 .inner_wrapp_2 {
	    padding: 5px 0 17px 0;
	}

	.two_cols_2 {
		display: block;
	}

	.two_cols .left_col {
	    width: 100%;
	    padding-right: 0;
	}

	.two_cols .right_col {
	    width: 100%;
	    padding-left: 0;
	}

	.two_cols_3 {
	    padding-top: 0;
	}

	.checkbox_wrapp {
	    margin: 15px 0;
	}

	/*-- /Section 1 - Private 4 --*/

}

@media only screen and (max-width: 700px) {

	/*-- Section 1 - Private 6 -- */

	.order_important {
		display: block;
		padding: 2px 15px 5px 15px;
	}

	.order_important .col {
	    width: 100% !important;
	    padding: 3px 0 !important;
	}

	.order_item_2 .col:nth-child(2) {
	    width: calc(100% - 335px);
	}

	.order_item_2 .col:nth-child(3) {
	    width: 220px;
	}

	.two_cols_4 {
	    display: block;
	    margin: 5px 0;
	}

	.two_cols_4 .col:nth-child(1) {
	    width: 100%;
	    padding: 10px 0;
	}

	.two_cols_4 .col:nth-child(2) {
	    width: 100%;
	    padding: 10px 0;
	}

	.two_cols_4 .tabs_wrapp {
		display: block;
		margin: 0;
	}

	.two_cols_4 .tabs_wrapp > div {
		width: 100%;
	    padding: 5px 0;
	}

	.two_cols_4 .tabs_wrapp a {
		width: 100%;
	}

	/*-- /Section 1 - Private 6 -- */

}

@media only screen and (max-width: 600px) {

	.reset_wrapp {
		padding-left: 10px;
		padding-right: 10px;
	}

	/*-- Section 1 - Private 3 --*/

	.tab_links {
		margin: 8px 0 0 0;
		text-align: center;
	}

	.order_item .col:nth-child(2) {
	    width: 100%;
	}

	.order_item .col:nth-child(3) {
	    width: 100%;
	   	justify-content: flex-start;
	    -webkit-justify-content: flex-start;
	}

	.pagination_sect .col:nth-child(1) {
		display: none;
	}

	.pagination_sect .col:nth-child(2) {
	    width: 100%;
	    justify-content: center;
	    -webkit-justify-content: center;
	}

	/*-- /Section 1 - Private 3 --*/

	/*-- Section 1 - Private 4 --*/

	.inline_blocks {
	    margin: 0;
	}

	.inline_blocks > div {
		width: 100%;
	    margin: 10px 0;
	}

	.input_wrapp_2 {
	    width: 100%;
	}

	/*-- /Section 1 - Private 4 --*/

	/*-- Section 1 - Private 6 -- */

	.order_item_2 {
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    padding: 15px 5px 13px 5px;
	}

	.order_item_2 .col:nth-child(2) {
	    width: calc(100% - 105px);
	    padding-left: 0;
	}

	.order_item_2 .col:nth-child(3) {
	    width: 100%;
	    display: flex;
	    display: -webkit-flex;
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    padding: 5px 0 0 5px;
	}

	.order_item_2 .col:nth-child(3) p {
		width: 50%;
	}

	.mob_600_hidden {
		display: none;
	}

	.mob_600_visible {
		display: block;
	}

	.order_item_2 {
	    border-bottom: none;
	    margin-bottom: 10px;
	}

	.order_item_2 .col:nth-child(3) p span{
		display: block;
	}

	.order_item_2 .col:nth-child(3) p.mob_600_visible span {
		display: inline-block;
		vertical-align: top;
	}

	/*-- /Section 1 - Private 6 -- */

}


@media only screen and (max-width: 480px) {

	/*-- Section 1 - Basket --*/

	.good_table {
	    padding: 10px 5px;
	}

	.good_table .close_btn {
	    top: 5px;
	}

	.good_table .col:nth-child(3) {
		display: flex;
		display: -webkit-flex;
		width: 100%;
		order: 3;
		padding: 15px 0 10px 0;
	}

	.good_table .col:nth-child(4) {
		width: 100%;
		order: 4;
		text-align: center;
		padding-bottom: 10px;
	}

	.good_table .col:nth-child(3) p {
		width: 50%;
		padding: 0 10px;
	}

	.good_table .col:nth-child(3) p  span {
		display: block;
	}

	.good_table .col:nth-child(4) .count_box {
		margin: 0 auto;
	}

	.good_table .mask .blue_pill {
	    top: 50%;
	    right: 50%;
	    -webkit-transform: translate(50%, -50%);
	    -moz-transform: translate(50%, -50%);
	    transform: translate(50%, -50%);
	}

	.total_price {
		padding: 15px 20px;
		text-align: center;
	}

	.resp_box {
		display: block;
	    margin-bottom: 13px;
	}

	.basket_btn_wrapp_resp {
		text-align: center;
	}

	.total_price .green_pill {
	    margin: 24px 0 14px 0;
	}

	/*-- /Section 1 - Basket --*/

	/*-- Section 1 - Private 3 --*/

	.tabs_wrapp {
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	     margin: 0 -5px;
	}

	.tabs_wrapp div {
		width: 50%;
		padding: 5px;
	}

	.tab_pill {
		display: block;
	    padding: 10px 5px 10px 5px;
	}

	.tab_pill.active,
	.tab_pill.active:hover {
	    padding: 9px 5px 9px 5px;
	}

	/*-- /Section 1 - Private 3 --*/

	/*-- Section 1 - Private 4 --*/

	.important_box {
		display: block;
		padding: 18px 12px;
	}

	.important_box .col_1 {
	    width: 42px;
	    margin: 0 auto 10px auto;
	    padding-top: 0;
	}

	.important_box .col_2 {
	    width: 100%;
	    padding-left: 0;
	}

	.tags {
	    margin: 0;
	}

	.tag {
		width: 100%;
		margin: 10px 0;
	}

	.personal_account_content_2 .inner_wrapp_2:after {
	    width: calc(100% + 20px);
	    left: -10px;
	}

	/*-- /Section 1 - Private 4 --*/

	/*-- Section 1 - Private 5 --*/

	.info_item .tabs_wrapp_2 {
	    margin: 5px 0;
	}

	.tabs_wrapp_2 div {
	    width: 100%;
	    padding: 5px 0;
	}

	.info_item .input_wrapp_2 {
	    width: 100%;
	    max-width: 100%;
    	margin: 43px 0 18px 0;
	}

	.choose_radiobtns {
		margin: 0;
	}

	.choose_radiobtns > div {
		width: 100%;
	    padding: 7px 0;
	}

	.choose_radio {
	    width: 100%;
	}

	/*-- /Section 1 - Private 5 --*/

	/*-- Section 1 - Private 6 -- */

	.order_important .col:nth-child(1) {
		width: 42px !important;
		margin: 0 auto;
	}

	/*-- /Section 1 - Private 6 -- */

	.modal_white {
	    padding: 35px 10px 21px 10px;
	}

	.modal_white h3 {
    	padding: 5px 10px;
	}

	.modal_white p {
	    padding: 4px 0;
	}

}

@media only screen and (max-width: 350px) {

	/*-- /Section 1 - Private 4 --*/

	.tab_pill {
	    font-size: 15px;
	}

	/*-- /Section 1 - Private 4 --*/

}
