@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-900.eot");
    src: url("fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-900.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-900.woff") format("woff"),
        url("fonts/MuseoSansCyrl-900.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-900.svg#fonts/MuseoSansCyrl-900") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-300Italic.eot");
    src: url("fonts/MuseoSansCyrl-300Italic.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-300Italic.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-300Italic.woff") format("woff"),
        url("fonts/MuseoSansCyrl-300Italic.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-300Italic.svg#fonts/MuseoSansCyrl-300Italic") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-900Italic.eot");
    src: url("fonts/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-900Italic.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-900Italic.woff") format("woff"),
        url("fonts/MuseoSansCyrl-900Italic.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-900Italic.svg#fonts/MuseoSansCyrl-900Italic") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-300.eot");
    src: url("fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-300.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-300.woff") format("woff"),
        url("fonts/MuseoSansCyrl-300.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-300.svg#fonts/MuseoSansCyrl-300") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-100Italic.eot");
    src: url("fonts/MuseoSansCyrl-100Italic.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-100Italic.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-100Italic.woff") format("woff"),
        url("fonts/MuseoSansCyrl-100Italic.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-100Italic.svg#fonts/MuseoSansCyrl-100Italic") format("svg");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-100.eot");
    src: url("fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-100.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-100.woff") format("woff"),
        url("fonts/MuseoSansCyrl-100.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-100.svg#fonts/MuseoSansCyrl-100") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-500Italic.eot");
    src: url("fonts/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-500Italic.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-500Italic.woff") format("woff"),
        url("fonts/MuseoSansCyrl-500Italic.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-500Italic.svg#fonts/MuseoSansCyrl-500Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-700.eot");
    src: url("fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-700.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-700.woff") format("woff"),
        url("fonts/MuseoSansCyrl-700.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-700.svg#fonts/MuseoSansCyrl-700") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-500.eot");
    src: url("fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-500.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-500.woff") format("woff"),
        url("fonts/MuseoSansCyrl-500.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-500.svg#fonts/MuseoSansCyrl-500") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl-700Italic.eot");
    src: url("fonts/MuseoSansCyrl-700Italic.eot?#iefix") format("embedded-opentype"),
        url("fonts/MuseoSansCyrl-700Italic.woff2") format("woff2"),
        url("fonts/MuseoSansCyrl-700Italic.woff") format("woff"),
        url("fonts/MuseoSansCyrl-700Italic.ttf") format("truetype"),
        url("fonts/MuseoSansCyrl-700Italic.svg#fonts/MuseoSansCyrl-700Italic") format("svg");
    font-weight: 600;
    font-style: italic;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {

}

.content {

}

footer {

}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row_2 {
    max-width: 1108px;
    margin: 0 auto;
}

.reset_wrapp * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

body {
    background-color: #f5f5f5;
}

/*-- Section 1 - Enter --*/

.personal_account {

}

.personal_account h2 {
    padding: 15px 0;
    text-transform: uppercase;
    font-family: "Museo Sans Cyrl";
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

.personal_account_content {
    padding: 10px 20px 3px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.tabs_wrapp {
    display: flex;
    display: -webkit-flex;
    margin: 0 -9px;
}

.tabs_wrapp div {
    padding: 9px;
}

.tab_pill {
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border: 1px solid rgb(176, 190, 197);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #767676;
}

.tab_pill.active,
.tab_pill.active:hover {
    border: 2px solid rgb(56, 153, 90);
    padding: 9px 20px 9px 20px;
    color: #007c2b;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 124, 43, .25);
    -moz-box-shadow: 0 10px 15px 0 rgba(0, 124, 43, .25);
    box-shadow: 0 10px 15px 0 rgba(0, 124, 43, .25);
}

.tab_pill:hover {
    border: 1px solid rgb(56, 153, 90);
    color: #007c2b;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 124, 43, .25);
    -moz-box-shadow: 0 10px 15px 0 rgba(0, 124, 43, .25);
    box-shadow: 0 10px 15px 0 rgba(0, 124, 43, .25);
}

.inner_wrapp {
    padding: 0 8.5%;
}

.two_cols {
    display: flex;
    display: -webkit-flex;
    margin-top: 27px;
}

.two_cols .left_col {
    width: 50%;
    padding-right: 12px;
}

.two_cols .right_col {
    width: 50%;
    padding-left: 12px;
}

.input_wrapp {
    margin: 17px 0;
}

.input_wrapp label {
    display: block;
    padding: 1px 0;
    font-family: "Museo Sans Cyrl";
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #767676;
}

.input_wrapp input {
    width: 100%;
    padding: 0 25px;
    background-color: #ffffff;
    border: 1px solid rgb(176, 190, 197);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 48px;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    line-height: 47px;
    font-weight: normal;
    color: #767676;
}

.select_wrapp {
    position: relative;
}

.select_wrapp.active {
    position: relative;
}

.select_input {

}

.select_wrapp:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 7px 0 7px;
    border-color: #000000 transparent transparent transparent;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    right: 20px;
}

.dropdown_box {
    display: none;
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 0;
    background-color: #ffffff;
    border: 1px solid rgb(176, 190, 197);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.select_wrapp.active .dropdown_box {
    display: block;
    z-index: 3;
}

.dropdown_box div {
    cursor: pointer;
    padding: 4px 25px;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #767676;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dropdown_box div.active,
.dropdown_box div.active:hover {
    background-color: #007c2b;
    color: #ffffff;
}

.dropdown_box div:hover {
    background-color: #f5f5f5;
}

.checkbox_wrapp {
    margin: 33px 0;
}

.checkbox {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-family: "Museo Sans Cyrl";
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #7d7d7d;
}

.checkbox input {
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(215, 215, 215);
    position: absolute;
    top: -1px;
    left: 0;
}

.checkbox input:checked {
    background-image: url(img/checked.png);
    background-position: center;
    background-repeat: no-repeat;
}

.submit_wrapp {
    padding: 24px 0 10px 0;
}

.checkbox_wrapp p {
    padding-left: 30px;
}

.blue_link {
    display: inline;
    font-family: "Museo Sans Cyrl";
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #3b89ee;
    border-bottom: 1px solid #3b89ee;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.blue_link:link,
.blue_link:visited {
    border-bottom: 1px solid #3b89ee;
}

.blue_link:active,
.blue_link.active {
    border-bottom: 1px solid transparent;
}

.blue_link:hover {
    border-bottom: 1px solid transparent;
}

.green_pill {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 11px 10px 11px 10px;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(0, 124, 43);
    text-align: center;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.green_pill:link,
.green_pill:visited {
    background-color: rgb(0, 124, 43);
}

.green_pill:active,
.green_pill.active {
    background-color: #00b33e;
}

.green_pill:hover {
    background-color: #00b33e;
}

/*-- /Section 1 - Enter --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

